<app-navbar></app-navbar>
<div style="display: flex;" class="movies-view">
    <mat-card *ngFor="let movie of movies; let i=index;">
        <mat-card-header>
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>

        <img src={{movie.ImagePath}} alt="Poster for '{{movie.Title}}'" />
        <mat-card-actions>
            <div class="detail-box">
                <button class="detail-type"   mat-button (click)="openGenre(movie.Genre.Name, movie.Genre.Description)"
                    >Genre</button>
                <button mat-button class="detail-type"  
                    (click)="openDirector(movie.Director.Name, movie.Director.Bio, movie.Director.Birth)"
                    >Director</button>
                <button mat-button class="detail-type"  
                    (click)="openSynopsis(movie.Title, movie.Director.Name, movie.Genre.Name, movie.Description, movie.ImagePath)"
                    >Synopsis</button>
            </div>

            <button class="icon-button heart" *ngIf="!isFavorite(movie._id)" (click)="addToFavorites(movie._id)">
                <mat-icon>favorite_border</mat-icon>
            </button>
            <button class="icon-button heart" *ngIf="isFavorite(movie._id)" (click)="deleteFromFavorites(movie._id)">
                <mat-icon class="is-favorite">favorite</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>